*{
  margin: 0;
  padding: 0;
}
.body{
  font-family: serif;
  font-size: 20px;
  padding: 5px;
}
.first-block{
  background-color: darkslategray;
  color: white;
  padding: 10px;
}
.second-block{
  position: relative;
  width: 90%;
  background-color: lightgrey;
  top: -7px;
  float: right;
  padding: 5px;
  border: 1px solid #FFFFFF;
}
.second-block__text{
  font-size: 18px;
}
